<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <!-- The hostname where tcp services should be hosted-->
    <add key="Hostname" value="127.0.0.1"/>

    <!-- This is the port number where messages are published into the message bus-->
    <add key="PortNumberRouter" value="5559"/>
    <!-- This is the port number where messages are acknowledged to the sender-->
    <add key="PortNumberDealer" value="5560"/>
    <!-- This is the port number where clients can received published messages -->
    <add key="PortNumberPublisher" value="5561"/>

  </appSettings>
</configuration>